.CharactersList {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
}

img {
  width: 100%;
}
@media (min-width: 600px) {
  .CharactersList {
    grid-template-columns: repeat(3, 1fr);
  }
}
